<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "home" %}">Главная</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "tasks" %}">Задачи</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "comments" %}">Комментарии</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "user_tasks" user_id=request.user.id %}" >Пользователи</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "create_comment"  %}" >Создать комментарий</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "create_task"  %}" >Создать задачу</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url "select_task"  %}" >Изменить задачу</a>
        </li>
      </ul>
    </div>
  </div>
</nav>