{% extends "base.html" %}

{% block content %}
<style>
.table-emerald thead {
    background-color: #10b981;
    color: white;
}

.table-emerald tbody tr:hover {
    background-color: #d1fae5;
}

.table-emerald td:hover,
.table-emerald th:hover {
    background-color: #6ee7b7;
}

.table-emerald td,
.table-emerald th {
    transition: background-color 0.2s;
}
</style>
<div class="container mt-4" style="max-width: 1500px;">
<table class="table table-dark table-hover text-center">
  <thead>
    <tr>
      <th scope="col">Задача</th>
      <th scope="col">Комментарии</th>
        <th scope="col">Вложения</th>
    </tr>
  </thead>

  <tbody>
  {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
<td>
      {% for comment in task.comments.all %}
         <p>{{ comment.message }}
      {% endfor %}
</td>
        <td>
      {% for at in task.attachments.all %}
             <p>{% if at.picture %}
             <img style="max-height: 100px" src = "{{ at.picture.url }}"/>
             {% endif %}
                 {% if at.file %}
            <p>
            <a href="{{ at.file.url }}" target="_blank" class="file-link">
                🔗 Открыть вложение
        </a>
    </p>
{% endif %}
      {% endfor %}
</td>
    </tr>
  {% endfor %}
  </tbody>

</table>

</div>
{% endblock %}
